.top-bar {
    margin: 20px;
    border-radius: 15px;
}

textarea {
    resize: none;
}

#submit-button {
    margin: 0px;
}

.note-area, .list-area {
    padding: 20px;
}

.list-items {
    color: black;
}


.list-items:hover{
    cursor: pointer;
    color: red;
}

#submit-button {
    margin: 0px;

.list {
    margin-bottom: 40px;
}

.app {
    background-color: #e6e6e6;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
}