

textarea {
    resize: none;
}

.note-area {
    padding: 20px;
}

.list-area {
    padding: 20px;
}

.list-items {
    color: green;
}

.list-items:hover{
    cursor: pointer;
    color: red;
}

/* #delButton{
    float:left;
    margin: 0;
    border: black solid 1px;
    border-radius: 100px;
    margin-right: 10px;
    background-color: grey;
}

#delButton:hover{
    cursor: pointer;
    background-color: darkgray;
} */

#submit-button {
    margin: 0px;
}